{% extends 'base.html'%}
{% block title %}Add pet{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" >
            <img class="card-img-top" src="{{pet.image_url}}" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Name: {{pet.name}}</li>
                        <li class="list-group-item">Species: {{pet.species}}</li>
                        {% if pet.age%}
                        <li class="list-group-item">Age: {{pet.age}} years</li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <h1 class="display-3 text-center">Edit {{pet.name}}</h1>
            <form  class = 'mx-5'action="" method="post">
                {{ form.csrf_token }}
                {% for field in form if field.widget.input_type != 'hidden'%}
                {% if field.name == 'available'%}
                <div class="form-check">
                    {{field(class_='form-check-input')}}
                    {{field.label(class_='form-check-label')}}
                </div>
                {% else %}
                <div class="form-group">
                    {{field.label}}
                    {{field(class_="form-control")}}
                    {% for error in field.errors %}
                    <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <a href="/" class="btn btn-secondary mt-3 btn-block">Return Home</a>
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block mt-3">Save</button>
                    </div>

                </div>
                
            </form>
        </div>
    </div>

    </div>
    
{% endblock %}