{% extends 'base.html'%}
{% block title %}Adoption Center{% endblock %}

{% block content %}

<div class="container">
<h1 class="display-2 ml-3">Pets</h1>
<a href="/add" class="btn-lg btn-primary ml-3">Add new Pet</a>
    <div class="row d-flex m-3 border justify-content-start">
    {% for pet in pets%}
        <div class="col-sm-4">
            <div class="card m-3" >
            <img class="card-img-top" src="{{pet.image_url}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><a href="/{{pet.id}}">{{pet.name}}</a> {% if pet.available %}<b>is available!</b>{% else %} is not available.{% endif%}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

</div>

{% endblock %}